section.photographergallery-main
	.desc
		.container
			h1 Photographer Gallery Website
			p  A Wordpress theme I developed for Photographers and Artists. This theme has Custom post types, Advanced custom fields and Logo upload capability.

			img(src="images/photographerwebsite.jpg", alt="Photographer Website")