section.buckle-up
	.desc
		.container
			h1 Buckle Up Driving School
			p  A Website I created for a client who has her own driving teaching company.
			img(src="images/buckleupwebsite.png", alt="Buckle Up Website")