

nav#nav.nav

	label(for='toggle') &#9776;
	input(type='checkbox' id='toggle')
	.container
		a.logo(href="/portfolio")
			svg#logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 1920 1080', style='enable-background:new 0 0 1920 1080;', xml:space='preserve')
				polygon.st0(points='409.8,219.4 409.8,817.8 1618.2,808 409.8,160.5 ')
				polygon.st0(points='1630,752.4 1621.8,160.5 995.6,417.2 ')


		.menu
			a(href="work") Work
			a(href="about") About
			a(href="contact") Contact