
#details.details
	.main
		.container
			h2 Just a simple dude who wants to create awesome stuff.
			p That pretty much sums it up. Whether it's solving complex problems, or creating beautiful user interfaces, I aim for simple, intuitive solutions that will improve peoples lives. Oh, and I love teaching myself HTML5/CSS3/JS, so I developed this website to showcase what I create.

	

			
	.quote
		.container

			span <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"/></svg>
			p My motivation is to create user - friendly, neat, creative & simple user interfaces.
	