section.wreckingcrew-main
	.desc
		.container
			h1 Wrecking Crew HDC 2015
			p  A logo I created for an event in 2015. This logo was put on t-shirts and worn by hundreds of people at the motorbike event.
			img(src="images/wreckingcrew.jpg", alt="Wrecking Crew HDC 2015")