.work-section.work-section-right
	#green.container.hideme
		.work-desc-right
			h1.project-title Landing Page
			p.project-desc  The idea was to come up with a landing page for something random hence the mango.
			.btn.btn-seemore
				a(href="mango")
					p.see-project See project

		.work-showcase-right
			h1.project-title Landing Page
			img(src="images/mangoshowcase.png", alt="Mango Landing Page" width='450px')
			.btn.btn-seemore
				a(href="mango")
					p.see-project See project


		

.work-section.work-section-left
	#pink.container.hideme
		.work-showcase-left
			h1.project-title Buckle Up
			img(src="images/buckleupshowcase.png", alt="Buckle up", width='450px')
			.btn.btn-seemore
				a(href="buckleup")
					p.see-project See project

		.work-desc-left
			h1.project-title Buckle Up
			p.project-desc  A Driving school website created for someone who has her own driving company.
			.btn.btn-seemore
				a(href="buckleup")
					p.see-project See project



.work-section.work-section-right
	#orange.container.hideme
		.work-desc-right
			h1.project-title Portfolio Website
			p.project-desc  A portfolio website with cool parallax scrolling effect.
			.btn.btn-seemore
				a(href="portfoliowebsite")
					p.see-project See project
		.work-showcase-right
			h1.project-title Portfolio Website
			img(src="images/portfoliowebsiteshowcase.png", alt="Portfolo Website", width='450px')
			.btn.btn-seemore
				a(href="portfoliowebsite")
					p.see-project See project

.work-section.work-section-left
	#purple.container.hideme
		.work-showcase-left
			h1.project-title Max Factor
			img(src="images/maxfactorshowcase.png", alt="Max Factor Redesign" width='450px')
			.btn.btn-seemore
				a(href="maxfactor")
					p.see-project See project
		.work-desc-left
			h1.project-title Max Factor
			p.project-desc  Max Factor website redesign with modern and minimal design language.
			.btn.btn-seemore
				a(href="maxfactor")
					p.see-project See project

.work-section.work-section-right
	#grey.container.hideme
		.work-desc-right
			h1.project-title Photographer Gallery
			p.project-desc  A photographer gallery website for wordpress with advanced custom fields and logo upload capability.
			.btn.btn-seemore
				a(href="photographergallery")
					p.see-project See project
		.work-showcase-right
			h1.project-title Photographer Gallery
			img(src="images/photographershowcase.png", alt="Photographer Gallery", width='450px')
			.btn.btn-seemore
				a(href="photographergallery")
					p.see-project See project

#allprojects

	.btn.btn-all-projects
		a(href="work")
			p View all projects