section.mango-main
	.desc
		.container
			h1 Mango Landing Page
			p  The idea was to come up with a landing page for something random hence the mango
			img(src="images/mangowebsite.jpg", alt="Mango Website")