section#work-section.portfolio-section
	.container
		.work-wrap
			a(href="mango")
				h1 Landing Page
			.img-wrap.first
				a(href="mango")
					h2 Landing Page
					img(src="images/mangoshowcase.png", alt="" width="350")
			a(href="mango") View project

		.work-wrap
			a(href="buckleup")
				h1 Buckle Up
			.img-wrap.second
				a(href="buckleup")
					h2 Buckle Up
					img(src="images/buckleupshowcase.png", alt="" width="350")
			a(href="buckleup") View project

		.work-wrap
			a(href="portfoliowebsite")
				h1 Portfolio Website
			.img-wrap.third
				a(href="portfoliowebsite")
					h2 Portfolio Website
					img(src="images/portfoliowebsiteshowcase.png", alt="" width="350")
			a(href="portfoliowebsite") View project

		.work-wrap
			a(href="maxfactor")
				h1 Max Factor
			.img-wrap.fourth
				a(href="maxfactor")
					h2 Max Factor
					img(src="images/maxfactorshowcase.png", alt="" width="350")
			a(href="maxfactor") View project

		.work-wrap
			a(href="photographergallery")
				h1 Photographer Gallery
			.img-wrap.fifth
				a(href="photographergallery")
					h2 Photographer Gallery
					img(src="images/photographershowcase.png", alt="" width="350")
			a(href="photographergallery") View project

		.work-wrap
			a(href="wreckingcrew")
				h1 Wrecking Crew HDC
			.img-wrap.sixth
				a(href="wreckingcrew")
					h2 Wrecking Crew HDC
					img(src="images/wreckingcrewshowcase.jpg", alt="" width="350")
			a(href="wreckingcrew") View project