
<section class="portfolio-section" id="work-section">
  <div class="container">
    <div class="work-wrap"><a href="mango">
        <h1>Landing Page</h1></a>
      <div class="img-wrap first"><a href="mango">
          <h2>Landing Page</h2><img src="images/mangoshowcase.png" alt="" width="350"/></a></div><a href="mango">View project</a>
    </div>
    <div class="work-wrap"><a href="buckleup">
        <h1>Buckle Up</h1></a>
      <div class="img-wrap second"><a href="buckleup">
          <h2>Buckle Up</h2><img src="images/buckleupshowcase.png" alt="" width="350"/></a></div><a href="buckleup">View project</a>
    </div>
    <div class="work-wrap"><a href="portfoliowebsite">
        <h1>Portfolio Website</h1></a>
      <div class="img-wrap third"><a href="portfoliowebsite">
          <h2>Portfolio Website</h2><img src="images/portfoliowebsiteshowcase.png" alt="" width="350"/></a></div><a href="portfoliowebsite">View project</a>
    </div>
    <div class="work-wrap"><a href="maxfactor">
        <h1>Max Factor</h1></a>
      <div class="img-wrap fourth"><a href="maxfactor">
          <h2>Max Factor</h2><img src="images/maxfactorshowcase.png" alt="" width="350"/></a></div><a href="maxfactor">View project</a>
    </div>
    <div class="work-wrap"><a href="photographergallery">
        <h1>Photographer Gallery</h1></a>
      <div class="img-wrap fifth"><a href="photographergallery">
          <h2>Photographer Gallery</h2><img src="images/photographershowcase.png" alt="" width="350"/></a></div><a href="photographergallery">View project</a>
    </div>
    <div class="work-wrap"><a href="wreckingcrew">
        <h1>Wrecking Crew HDC</h1></a>
      <div class="img-wrap sixth"><a href="wreckingcrew">
          <h2>Wrecking Crew HDC</h2><img src="images/wreckingcrewshowcase.jpg" alt="" width="350"/></a></div><a href="wreckingcrew">View project</a>
    </div>
  </div>
</section>